{{#if cargando}}
    {{cargando-componente}}
{{else}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/random.png" width="30" height="30" class="d-inline-block align-top" alt=""> Meet Your Random
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                {{#link-to 'sesion.usuario.modificar-perfil' model class="nav-link"}}Modificar Perfil{{/link-to}}
            </li>

            <li class="nav-item">
                <button class="btn btn-danger" {{action 'cerrarSesion'}}>Cerrar Sesion</button>
            </li>

        </ul>
    </div>
</nav>
{{outlet}}
<div class="row justify-content-md-center pt-5">
    <h1 class="display-6">Interfaz de sesión de usuario</h1>
</div>

<button name="emparejar" {{action 'buscar'}}>Emparejar</button>

<div class="lista-favoritos">
  <h2>Usuarios favoritos</h2>
  {{#if model.listaFavoritos.usuarios}}
    <ul>
      {{#each model.listaFavoritos.usuarios as |usuarioFavorito|}}
        <li>
          {{usuarioFavorito.email}}
          <button {{action 'eliminar' model.listaFavoritos usuarioFavorito}}>Eliminar</button>
          <button {{action 'enviar' usuarioFavorito}}>Solicitar Conexion</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    No hay usuarios favoritos
  {{/if}}
</div>

<div class="solicitudes-conexion">
  <h2>Solicitudes de Conexion</h2>
  {{#if model.solicitudes}}
    <ul>
      {{#each model.solicitudes as |solicitud|}}
        <li>
          <strong>De: </strong>{{solicitud.emisor.email}} - <strong>Fecha: </strong>{{date-format solicitud.fecha "DD/MM/YYYY - HH:MM"}}
          <button {{action 'responder' true solicitud}}>Aceptar</button>
          <button {{action 'responder' false solicitud}}>Rechazar</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay solicitudes de conexión</p>
  {{/if}}
</div>

<div class="row justify-content-md-center pt-5">
    <img src="/construction.png">
</div>

{{/if}}
<div id="popup1" class="overlay">
    <div class="popup">
        <div>
            <strong>Mensaje:</strong>
            <p id='alerta'></p>
        </div>
        <a href="#">&times; Aceptar</a>
    </div>
</div>
<a hidden id='clickMe' href="#popup1">Click Me</a>
