{{#if cargando}}
    {{cargando-componente}}
{{else}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/random.png" width="30" height="30" class="d-inline-block align-top" alt=""> Meet Your Random
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                {{#link-to 'sesion.usuario.modificar-perfil' model class="nav-link"}}Modificar Perfil{{/link-to}}
            </li>

            <li class="nav-item">
                <button class="btn btn-danger" {{action 'cerrarSesion'}}>Cerrar Sesion</button>
            </li>

        </ul>
    </div>
</nav>
{{outlet}}
<div class="row justify-content-md-center pt-5">
    <h1 class="display-6">Interfaz de sesión de usuario</h1>
</div>

<button name="emparejar" {{action 'buscar'}}>Emparejar</button>

<div class="row justify-content-md-center pt-5">
    <img src="/construction.png">
</div>


{{/if}}