{{#if cargando}} {{cargando-componente}} {{else}} {{cabecera-sesion login=false registro=true modificar=false cerrar=false}}

<div class="row justify-content-md-center pt-5">
    <div class="col col-lg-5">
        <div class="jumbotron">

            <div class="row justify-content-md-center">
                <h1 class="display-6">Meet Your Random</h1>
            </div>

            <form>
                <div class="form-group row justify-content-md-center">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-6">
                        {{input value=email type="text" class="form-control" placeholder="you@email.com"}}
                    </div>
                </div>
                <div class="form-group row justify-content-md-center">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-6">
                        {{input value=password class="form-control" type="password" placeholder="Contraseña"}}
                    </div>
                </div>

                <div class="form-group row justify-content-md-center">
                    <button class="btn btn-primary" {{action 'iniciarSesion' 'password'}}>Iniciar Sesión</button>
                </div>

            </form>
        </div>
    </div>

</div>
{{/if}}

<div id="popup1" class="overlay">
    <div class="popup">
        <div class="modal-header">
            <h4 class="modal-title">Mensaje</h4>
        </div>
        <div class="modal-body">
            <p id="alerta" class="lead"></p>
        </div>
        <div class="modal-footer">
            <a href="#" type="button" class="btn btn-primary">&times; Aceptar</a>
        </div>
    </div>
</div>
<a hidden id='clickMe' href="#popup1">Click Me</a>
{{outlet}}